{% extends "base.html" %}

{% block stylesheets %}
    {% assets "css_base" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="font-size-32 text-bold mb-8">About us</div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="font-size-24 text-bold mt-16">Who are we?</div>
            <img class="mx-auto" src="/static/img/about/colab.png" height="128">
            <div>
                We are Team 5 from CKY XdHacks, an online 2-day hackathon focused on creativity, technology and entrepreneurship.
            </div>
            <div class="mt-16">
                Parcitipants have been asked to present a solution that solves education issues, by developing a brand and a project using their programming skills. Competitors will then present their project to a qualified panel of professionals in the technology field, who will decide on the winner based on the projects effectiveness, value, design, innovation, feasibility and presentation.
            </div>
            <div class="mt-16">
                We recieved the Best Presentation Award, and after one month of further development, we are happy to introduce our final end product to everyone.
            </div>
            <div class="mt-16">Our team:</div>
            <ul class="browser-default mt-0">
                <li class="mt-16">
                    <div class="text-bold">Mr. Louis Wong - Executive Team</div>
                    <div>Mr Wong gave us a clear direction to work toward and to scale our initial prototype to a fully functional system you see here.</div>
                </li>
                <li class="mt-16">
                    <div class="text-bold">Mr. Sun Hongshuai - Mentor</div>
                    <div>Mr Sun gave professional advice on the system's architecture and feedback on the entire project.</div>
                </li>
                <li class="mt-16">
                    <div class="text-bold">Walter Kwong - Mentor's Assistant</div>
                    <div>Walter handled many administrative tasks and served as an enthusiastic and cheerful supporter when various challenges arose.</div>
                </li>
                <li class="mt-16">
                    <div class="text-bold">Abraham Cheung - Lead Developer</div>
                    <div>Abraham handled most of the technical parts and managed to create the prototype within a short period of time, and helped the team translate abstract concepts into a solid framework.</div>
                </li>
                <li class="mt-16">
                    <div class="text-bold">Timothy Ho - Market Researcher</div>
                    <div>Timothy researched and assessed the demand and feasibilities of different ideas and gave many insights on how to improve the audience's appeal to our product.</div>
                </li>
                <li class="mt-16">
                    <div class="text-bold">Edward Cheung - Graphics Designer</div>
                    <div>Utilising Edward's profound art skills, he designed most of the logos and gave guidance on the layout of the UI.</div>
                </li>
            </ul>
            <div class="mt-16">We would also like to thank our keynote speakers for teaching us various developer workflows and design thinking processes, as well as the executive team for giving numerous support to develop our projects.</div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="font-size-24 text-bold mt-16">Our Vision</div>
            <div class="mt-16">Books have long been an essential part of education in our school:</div>
            <div class="italic">"Our school has been promoting the use of readers and novels as the main source of materials for teaching languages."</div>
            <div class="italic right-align">- Principal Lau</div>

            <div class="mt-16">The systemic issue in the world of literacy is that books are expensive.</div>
            <div>We believe that <span class="text-bold">money should not be a barrier to education</span>.</div>

            <div class="mt-16">In the fast paced modern lifestyle, literacy culture is declining.</div>
            <div>As a result of this, independent bookstores are vanishing, and are replaced by the mass commercialisation of literature in the form of chain bookstores.</div>
            <div class="mt-16">We have therefore created this second-hand book selling platform with the belief that books should be <span class="text-bold">accessible</span>, <span class="text-bold">equitable</span> and <span class="text-bold">affordable</span>.</div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="font-size-24 text-bold mt-16">What are the benefits?</div>
            <div class="mt-16">Swappy was built specifically for books only and for CKY students.</div>
            <div class="font-size-20 text-bold mt-16">Data privacy and Trust</div>
            <div class="mt-16">While the Internet is becoming increasingly convenient, your data are often sold and transferred to third-party companies and advertisers, breaching your privacy.</div>
            <div class="mt-16">As students of CKY, we are committed to protect your data.</div>
            <div>Swappy warns users accordingly if the buyer of seller isn't from CKY, adding a layer of trust (this is done by detecting whether the user's e-mail address belongs to CKY, which cannot be changed after the user has signed up).</div>
            <div>By default, your contact information will be private. This means that no one will be able to access it, until it you manually disclose the information to the buyer/seller, or set it to public.</div>
            <div>We will also never share your information to any third-party unless required by law.</div>
            <div>Security have always been our top priority, with protections including but not limited to resistance against SQL injection, XSS attacks and CSRF.</div>
            <div>You can read more about your data in our <a href="/privacy-notice">privacy notice</a>.</div>
            
            <div class="font-size-20 text-bold mt-16">Convenient and Localised</div>
            <div class="mt-16">While second-hand trading platforms such as eBay and Carousell offer book exchanges, they can be rather time-consuming and logistically challenging to collate or sell multiple books.</div>
            <div class="mt-16">With Swappy, you can choose to exchange books at CKY, eliminating the need to transport heavy books to/from your home.</div>

            <div class="font-size-20 text-bold mt-16">Resaleability</div>
            <div class="mt-16">Comparing to local textbook stores, the resale rates can be much higher because there is no need for storage fees.</div>

            <div class="font-size-20 text-bold mt-16">Affordability</div>
            <div class="mt-16">Comparing to traditional auctioning platforms such as Amazon, these platforms often earn a large commission and often comes with many hidden delivery fees.</div>
            <div class="mt-16">Swappy is entirely free and will never collect any funds, as payments will be performed on a mutual agreement between the buyer and the seller.</div>

            <div class="mt-16">To learn how this platform works, please visit our <a href="/help">help</a> page.</div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% assets "js_base" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}