<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Swappy</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <meta content="{{ csrf_token() }}" name="csrf-token">
    <link rel="icon" href="{{ url_for('static', filename='img/logo/trans_book.png') }}" type="image/gif" sizes="16x16"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signinButton.css') }}">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js" async></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}" async></script>
    {% endblock %}
</head>
<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars">
    <div class="modal" id="modal-1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 80%;">
                <a href="#" class="close" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                {% block modal %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="page-wrapper with-navbar with-transitions">
        <div class="sticky-alerts"></div>
        <nav class="navbar">
            <a class="navbar-brand ml-10 ml-sm-15" href="{{ url_for('main.index') }}">
                <img class="mr-5 mr-sm-10" src="{{ url_for('static', filename='img/logo/banner.png') }}" alt="Swappy">
            </a>
            <div class="navbar-content ml-auto mr-10">
                <ul class="navbar-nav mr-5">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item"><a href="{{ url_for('main.profile') }}" class="nav-link">Profile</a></li>
                    <li class="nav-item"><a href="{{ url_for('main.market') }}" class="nav-link">Market</a></li>
                    <li class="nav-item"><a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a></li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item"><a href="{{ url_for('auth.login') }}" class="nav-link">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="content-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>