<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Swappy</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=5" name="viewport">
    <meta name="viewport" content="width=device-width">
    <meta content="{{ csrf_token() }}" name="csrf-token">
    <link rel="icon" href="{{ url_for('static', filename='img/logo/icon.svg') }}" type="image/gif" sizes="16x16"> 

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js" integrity="sha512-m2PhLxj2N91eYrIGU2cmIu2d0SkaE4A14bCjVb9zykvp6WtsdriFCiXQ/8Hdj0kssUB/Nz0dMBcoLsJkSCto0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script async defer type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% endblock %}
</head>
<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars">
    <!-- modal boxes -->
    <div class="page-wrapper with-navbar with-transitions">
        <!-- sticky boxes -->
        <nav class="nav-material">
            <div class="nav-wrapper">
                <a class="brand-logo valign-wrapper" href="{{ url_for('main.index') }}">
                    <img class="logo-banner mx-16 show-on-medium-and-up hide-on-small-only" src="{{ url_for('static', filename='img/logo/banner.svg') }}" alt="Swappy">
                    <img class="logo-banner mx-16 show-on-small hide-on-med-and-up" src="{{ url_for('static', filename='img/logo/banner_logo.svg') }}" alt="Swappy">
                </a>
                <ul class="right">
                    {% if current_user.is_authenticated %}
                    <li>
                        <a class="nav-item mr-8 ml-8 px-8 no-hover-event valign-wrapper" href="{{ url_for('main.market') }}">
                            Market
                        </a>
                    </li>
                    <li>
                        <a class="nav-item mr-8 px-8 dropdown-trigger no-hover-event valign-wrapper roundBox" data-target="profileDropdown">
                            <img class="rounded h-36" src="{{ current_user.profilePic+'=s96-c' }}" alt="Profile Picture">
                        </a>
                    </li>
                    <ul id="profileDropdown" class="dropdown-content roundBox translucent mx-16">
                        <li class="no-hover-event">
                            <a class="nav-dropdown-item no-hover-event">
                                <div>
                                    <div class="center-align"><img class="rounded h-72" src="{{ current_user.profilePic+'=s192-c' }}" alt="Profile Picture"></div>
                                    <div class="center-align text-bold font-size-16">{{ current_user.name }}</div>
                                    <div class="center-align text-muted font-size-14">{{ current_user.email }}</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="nav-dropdown-item" href="{{ url_for('main.settings') }}">
                                <div class="center-align">Account Settings</div>
                            </a>
                        </li>
                        <li>
                            <a class="nav-dropdown-item" href="{{ url_for('auth.logout') }}">
                                <div class="center-align">Log out</div>
                            </a>
                        </li>
                    </ul>
                    {% else %}
                    <li><a class="nav-item px-16 no-hover-event" href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="content-wrapper">        
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
<script>
    // setTimeout(() => {
    //     halfmoon.toastAlert("precompiled-alert-1", 99999);
    // }, 500) // just to stop animation being slow
    // /* TEMPORARY TESTING */
</script>
</html>