{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-0">
        <div class="col s12">
            <div class="font-size-32 text-bold mb-0">Dashboard</div>
        </div>
    </div>
    <div class="row mb-0">
        <div class="col s12">
            <div class="font-size-14 text-muted mb-32">
                Last Updated: <span data-field="updated">---</span>
                <i class="material-icons font-size-14 valign-middle unselectable" data-refresh>refresh</i>
            </div>
        </div>
    </div>
    <div class="row mb-0 roundBox lightlightgrey" id="dashboard">
        <div class="col s4 p-0 h-full">
            <div class="row mx-0 mb-0 p-12 pr-6 h-full">
                <div class="col s12 lightgrey roundBox h-full oy-auto">
                    <div class="row mb-0">
                        <div class="col s12 font-size-20 text-bold mt-8">
                            System Messages
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col s12 center-align">
                            <a class="font-size-14 unselectable" data-element="message_help">View messages</a>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col s12 font-size-20 text-bold mt-8">
                            My Sales
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col s12">
                            <div class="center-align font-size-14" data-element="seller_help"></div>
                            <div class="progress mb-8 hide" data-element="seller_progress">
                                <div class="indeterminate"></div>
                            </div>
                            <div data-element="seller_results"></div>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col s12 font-size-20 text-bold mt-8">
                            My Offers
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col s12">
                            <div class="center-align font-size-14" data-element="buyer_help"></div>
                            <div class="progress mb-8 hide" data-element="buyer_progress">
                                <div class="indeterminate"></div>
                            </div>
                            <div data-element="buyer_results"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s8 p-0 h-full">
            <div class="row mx-0 mb-0 p-12 pl-6 h-full oy-auto">
                <div class="col s12 lightgrey roundBox h-full oy-auto" data-element="controls"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}