{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-0">
        <div class="col s12">
            <div class="font-size-32 text-bold mb-0">Dashboard</div>
        </div>
    </div>
    <div class="row mb-0">
        <div class="col s12">
            <div class="font-size-14 text-muted mb-32">
                Last Updated: <span data-field="updated">---</span>
                <i class="material-icons font-size-14 valign-middle unselectable" data-refresh>refresh</i>
            </div>
        </div>
    </div>
    <div class="row mb-0 roundBox lightlightgrey" id="dashboard">
        <div class="col s4 p-0 h-full">
            <div class="row mx-0 mb-0 p-12 pr-6 h-full">
                <div class="col s12 lightgrey roundBox h-full oy-auto">
                    <div class="row mb-0">
                        <div class="col s12 font-size-20 text-bold mt-8">
                            System Messages
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col s12 center-align">
                            <a class="btn px-8 roundBox btn-transparent btn-transparent-primary" data-element="message_help"></a>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col s12 font-size-20 text-bold mt-8">
                            My Sales
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col s12">
                            <div class="center-align font-size-14" data-element="seller_help"></div>
                            <div class="progress mb-8 hide" data-element="seller_progress">
                                <div class="indeterminate"></div>
                            </div>
                            <div data-element="seller_results"></div>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col s12 font-size-20 text-bold mt-8">
                            My Offers
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col s12">
                            <div class="center-align font-size-14" data-element="buyer_help"></div>
                            <div class="progress mb-8 hide" data-element="buyer_progress">
                                <div class="indeterminate"></div>
                            </div>
                            <div data-element="buyer_results"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s8 p-0 h-full">
            <div class="row mx-0 mb-0 p-12 pl-6 h-full oy-auto">
                <div class="col s12 lightgrey roundBox h-full oy-auto" data-element="controls" data-control="empty"></div>
            </div>
        </div>
    </div>
    <div id="imagemodal" class="modal roundBox">
        <div class="modal-content">
            <div class="text-lightmuted center">
                Click outside or press Esc to close.
            </div>
            <div class="carousel carousel-slider" id="carousel"></div>
        </div>
    </div>
    <div id="cancelmodal" class="modal modal-white roundBox">
        <div class="modal-content">
            <div class="row mx-16 mt-16 mb-16">
                <div class="s12 font-size-24 text-bold">
                    Are you sure?
                </div>
            </div>
            <div class="row mx-16 mt-0 mb-0">
                <div class="s12 font-size-16">
                    <div>This action is irreversible. The <span data-field="cancel_offer_role"></span> will be notified.</div>
                    <div>Do you want to continue?</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn px-8 roundBox btn-transparent btn-transparent-danger" data-button="cancel_offer_confirm">
                <i class="material-icons left">check</i>
                Yes, cancel offer
            </a>
            <a class="btn px-8 mr-8 roundBox btn-transparent btn-transparent-muted modal-close">
                <i class="material-icons left">clear</i>
                No, go back
            </a>
        </div>
    </div>
    <div id="completemodal" class="modal modal-white roundBox">
        <div class="modal-content">
            <div class="row mx-16 mt-16 mb-16">
                <div class="s12 font-size-24 text-bold">
                    Are you sure?
                </div>
            </div>
            <div class="row mx-16 mt-0 mb-0">
                <div class="s12 font-size-16">
                    <div>Completing an offer means that you have already exchanged the book with the buyer.</div>
                    <div>This will delete the listing and remove all pending buying offers, and will no longer be avaliable to everyone.</div>
                    <div>This action is irreversible. Do you want to continue?</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn px-8 roundBox btn-transparent btn-transparent-success" data-button="complete_offer_confirm">
                <i class="material-icons left">check</i>
                Yes, complete offer
            </a>
            <a class="btn px-8 mr-8 roundBox btn-transparent btn-transparent-muted modal-close">
                <i class="material-icons left">clear</i>
                No, go back
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}