{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="font-size-32 text-bold mb-8" id="master">Help</div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="font-size-24 text-bold mt-16">System Requirements</div>
            <div>It is highly recommended to browse the website on a desktop to avoid visual glitches.</div>
            <div>Supported browsers: Edge 80+, Firefox 74+, Chrome 80+, Safari 13.1+, Opera 67+.</div>
            <div>If you are on mobile, toggle the 'Request the desktop version' option in your browser.</div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="font-size-24 text-bold mt-16">Quick Links</div>
            <ul>
                <li><a href="#flow">How does the platform work?</a></li>
                <li><a href="#settings">Where do I start?</a></li>
                <li><a href="#sell">Sell a book</a></li>
                <li><a href="#mylistings">Manage my listings</a></li>
                <li><a href="#market">Market</a></li>
                <li><a href="#market_detail">Offer details</a></li>
                <li><a href="#dashboard_messages">Dashboard (messages)</a></li>
                <li><a href="#dashboard_seller">Dashboard (seller)</a></li>
                <li><a href="#dashboard_buyer">Dashboard (buyer)</a></li>
                <li><a href="#query">Query</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="font-size-24 text-bold mt-16" id="flow">How does the platform work?</div>
            <img class="w-full" src="/static/img/help/flow.png" />
            <div>Once logged in, this platform allows sellers to host their books, avaliable for everyone to purchase:</div>
            <ol>
                <li>Seller Uploads book to the market - includes information such as images, price, condition, internal markings and remarks.</li>
                <li>Buyer creates offer in the market.</li>
                <li>System notifies seller that a new offer has been created.</li>
                <li>By default, contact information are not publicly visible. The system automatically requests the buyer/seller to disclose their contact information to the other end.</li>
                <li>When the request has been accepted, then the buyer/seller can then arrange the meetup/exchange via their own means.</li>
            </ol>
            <div class="font-size-24 text-bold mt-16" id="settings">Where do I start?</div>
            <div>Start by configuring your settings in 'Account Settings' under your profile picture!</div>
            <img class="w-full mt-16" src="/static/img/help/settings.png" />
            <ol>
                <li>You can find the 'Account Settings' section under your profile picture.</li>
                <li>Toggle whether to recieve notifications when offers are created on your listings (for sellers only).</li>
                <li>Select your accepted payment methods, they can be in cash, Octopus, PayMe, Tap & Go, Bank Transfer, e-Cheque, Alipay and/or Wechat Pay.</li>
                <li>Select your accepted delivery methods, such as in-school exchange, in-person meetup and door-to-door delivery.</li>
                <li>Toggle whether you are open to price negotiations.</li>
                <li>Your Discord username (in the format of username#1234) if you have one.</li>
                <li>Your Instagram username (in the format of username.1234)</li>
                <li>Your Hong Kong phone number.</li>
                <li>Select the relevant communication apps, they can be WhatsApp, Signal and/or Telegram.</li>
                <li>Any remarks you'd like to add, such as alternative contact methods.</li>
            </ol>
            <div>Note that by default, all contact information are private, meaning it cannot be visible by anyone besides you. This is to protect your information against people who are not from CKY.</div>
            <div>If your contact information is set to private, the buyer/seller will have to request to view your information. When you have granted access, the contact information will then be visible by the other side.</div>
            <div>If you want to expedite the process of buyers contacting you, set the contact information visibility to public. However, do it at your <span class="text-bold">own risk</span> as the information will be visible by people everyone, including people not from CKY.</div>

            <div class="font-size-20 text-bold mt-16" id="sell">Sell a book</div>
            <div class="mt-16">On the top navigation bar, click 'Sell' to start uploading your book.</div>
            <img class="w-full mt-16" src="/static/img/help/sell.png" />
            <ol>
                <li>Start by typing in the book's name, ISBN, publisher or author to begin the search. For more information of custom searches, please go to the <a href="#query">query parameters</a> section.</li>
                <li>Select a book from the list. <span class="text-bold">Make sure the ISBN matches!</span></li>
                <li>Take 1-5 images of your book using your camera, for example the front cover, back cover and other parts if needed.</li>
                <li>Type in the desired price (integers only, no decimals).</li>
                <li>Select the matching book's state/condition</li>
                <li>Select the book's amount of internal markings, such as drawings or notes.</li>
                <li>If needed, write down any special remarks about the book, such as missing pages etc.</li>
            </ol>
            <div id="mylistings">Once the book has been uploaded, you can manage it in the 'My Listings' section.</div>
            <img class="w-full mt-16" src="/static/img/help/mylistings.png" />
            <ol>
                <li>You can find the 'My Listings' section under your profile picture.</li>
                <li>Toggle Visibility allows you to temporarily hide the book from the market. Doing so will also notify buyers who have placed orders on that book.</li>
                <li>Delete Listing allows you to permanently delete the listing from the market, and automatically cancel any pending offers.</li>
            </ol>

            <div class="font-size-20 text-bold mt-16" id="market">Buy a book</div>
            <div class="mt-16">On the top navigation bar, click 'Market' to start searching for books to purchase.</div>
            <img class="w-full mt-16" src="/static/img/help/market.png" />
            <ol>
                <li>Start by typing in the book's name, ISBN, publisher or author to begin the search. For more information of custom searches, please go to the <a href="#query">query parameters</a> section.</li>
                <li>Click to view the details of the offer, which will include a list of all sellers.</li>
            </ol>
            <div id="market_detail">When you click into 'View details' button, it will take you to offer's details:</div>
            <img class="w-full mt-16" src="/static/img/help/market_detail.png" />
            <ol>
                <li>Shows the detailed owner profile - including contact information (if made public).</li>
                <li>Shows the images uploaded by the seller.</li>
                <li>Makes an offer to the seller. Doing so will notify the seller that you intend to purchase the book.</li>
                <li>Once an offer has been created, it will notify you to go to the dashboard.</li>
            </ol>
            <div class="font-size-20 text-bold mt-16" id="dashboard_messages">Dashboard (messages)</div>
            <img class="w-full mt-16" src="/static/img/help/dashboard_messages.png" />
            <ol>
                <li>Shows the user's messages/updates to their offers.</li>
                <li>Toggles whether the browser should notify you about new changes.</li>
                <li>All messages will appear here, sorted by newest to oldest.</li>
            </ol>
            <div>Please note that in order to recieve browser notifications, you <span class="text-bold">must</span> keep the browser tab open, and the messages menu open.</div>
            <div>Please also note that unlike browser notifications, e-mail notifications will only notify you about new offer creations if you are a seller.</div>

            <div class="font-size-20 text-bold mt-16" id="dashboard_seller">Dashboard (seller)</div>
            <img class="w-full mt-16" src="/static/img/help/dashboard_seller.png" />
            <ol>
                <li>Clicking this will expand a list of buyers who have created an offer on your listing.</li>
                <li>Clicking this will select the buyer, updating the menu on the right.</li>
                <li>Shows the images uploaded by you.</li>
                <li>As long as the buyer has set their contact information to be public, or has granted you access to it, the buyer's contact information will be shown; otherwise you will have to wait for the buyer's confirmation.</li>
                <li>If you have set your information to be private, you have the option to grant the buyer's access to your contact information. Otherwise, it will indicate that the information is visible to everyone.</li>
                <li>When you have completed the offer/already exchanged the book with the buyer, clicking on this button will delete the listing and remove all pending buyers' offers, and will no longer be avaliable to anyone.</li>
                <li>Cancels the offer with the buyer.</li>
            </ol>
            
            <div class="font-size-20 text-bold mt-16" id="dashboard_buyer">Dashboard (buyer)</div>
            <img class="w-full mt-16" src="/static/img/help/dashboard_buyer.png" />
            <ol>
                <li>Clicking this will expand a list of sellers offering the current book.</li>
                <li>Clicking this will select the seller, updating the menu on the right.</li>
                <li>Shows the images uploaded by the seller.</li>
                <li>As long as the seller has set their contact information to be public, or has granted you access to it, the seller's contact information will be shown; otherwise you will have to wait for the seller's confirmation.</li>
                <li>If you have set your information to be private, you have the option to grant the seller's access to your contact information. Otherwise, it will indicate that the information is visible to everyone.</li>
                <li>Cancels the offer with the seller.</li>
            </ol>

            <div class="font-size-20 text-bold mt-16" id="query">Query parameters</div>
            <div class="mt-16">Below are some tags you can use during searches:</div>
            <ul class="browser-default mt-8">
                <li><span class="text-bold">intitle:</span>x - returns results where x is found in the title</li>
                <li><span class="text-bold">inauthor:</span>x - returns results where x is found in the author</li>
                <li><span class="text-bold">inpublisher:</span>x - returns results where x is found in the publisher</li>
                <li><span class="text-bold">subject:</span>x - returns results where x is found in the list of categories of the book</li>
                <li><span class="text-bold">isbn:</span>x - returns results where x is the ISBN number.</li>
                <li><span class="text-bold">lccn:</span>x - returns results where x is the Library of Congress Control Number.</li>
                <li><span class="text-bold">oclc:</span>x - returns results where x is the Online Computer Library Center number.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="font-size-24 text-bold mt-16" id="contact">Contact us</div>
            <div>If you have any questions or queries, feel free to contact us at <span data-email></span>, or send us a message at cathayexpress#2424 on Discord.</div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% assets "js_tos" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}