{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="font-size-32 text-bold mb-8">Help</div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="font-size-24 text-bold mt-16">System Requirements</div>
            <div>It is highly recommended to browse the website on a desktop to avoid visual glitches.</div>
            <div>Supported browsers: Edge 80+, Firefox 74+, Chrome 80+, Safari 13.1+, Opera 67+.</div>
            <div>If you are on mobile, toggle the 'Request the desktop version' option in your browser.</div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="font-size-24 text-bold mt-16">How does the platform work?</div>
            <img class="w-full" src="/static/img/help/flow.png" />
            <div>Once logged in, this platform allows sellers to host their books, avaliable for everyone to purchase:</div>
            <ol>
                <li>Seller Uploads book to the market - includes information such as images, price, condition, internal markings and remarks.</li>
                <li>Buyer creates offer in the market.</li>
                <li>System notifies seller that a new offer has been created.</li>
                <li>By default, contact information are not publicly visible. The system automatically requests the buyer/seller to disclose their contact information to the other end.</li>
                <li>When the request has been accepted, then the buyer/seller can then arrange the meetup/exchange via their own means.</li>
            </ol>
            <div class="font-size-24 text-bold mt-16">Where do I start?</div>
            <div>Start by configuring your settings in 'Account Settings' under your profile picture!</div>
            <img class="w-full mt-16" src="/static/img/help/settings.png" />
            <ol>
                <li>You can find the 'Account Settings' section under your profile picture.</li>
                <li>Select your accepted payment methods, they can be in cash, Octopus, PayMe, Tap & Go, Bank Transfer, e-Cheque, Alipay and/or Wechat Pay.</li>
                <li>Select your accepted delivery methods, such as in-school exchange, in-person meetup and door-to-door delivery.</li>
                <li>Select your intended account type, such as being a buyer and/or seller.</li>
                <li>If you are a seller, this option will allow you to indicate if prices are negotiable.</li>
                <li>Your Discord username (in the format of username#1234) if you have one.</li>
                <li>Your Instagram username (in the format of username.1234)</li>
                <li>Your Hong Kong phone number.</li>
                <li>Select the relevant communication apps, they can be WhatsApp, Signal and/or Telegram.</li>
                <li>Any remarks you'd like to add, such as alternative contact methods.</li>
            </ol>
            <div>Note that by default, all contact information are private. To expedite the process of buyers contacting you, set the contact information visibility to public to avoid having the buyer to request to view your information (at your own risk).</div>

            <div class="font-size-20 text-bold mt-16">If you are a seller,</div>
            <div>On the top navigation bar, click 'Sell' to start uploading your book.</div>
            <img class="w-full mt-16" src="/static/img/help/sell.png" />
            <ol>
                <li>Start by typing in the book's name, ISBN, publisher, author to begin the search.</li>
                <li>Select a book from the list. Make sure the ISBN matches!</li>
                <li>Take a few images of your book, for example the front cover, back cover and other parts if needed.</li>
                <li>Type in the desired price (integers only, no decimals).</li>
                <li>Select the matching book's state/condition</li>
                <li>Select the book's amount of internal markings, such as drawings or notes.</li>
                <li>If needed, write down any special remarks about the book, such as missing pages etc.</li>
            </ol>
            <div>Once the book has been uploaded, you can manage it in the 'My Listings' section.</div>
            <img class="w-full mt-16" src="/static/img/help/mylistings.png" />
            <ol>
                <li>You can find the 'My Listings' section under your profile picture.</li>
                <li>Toggle Visibility allows you to temporarily hide the book from the market. Doing so will also notify buyers who have placed orders on that book.</li>
                <li>Delete Listing allows you to permanently delete the listing from the market, and automatically cancel any pending offers.</li>
            </ol>

            <div class="font-size-20 text-bold mt-16">If you are a buyer,</div>
            <div>Market (to be worked on)</div>
        </div>
    </div>
</div>
{% endblock %}