{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid h-full w-full">
    <div class="content d-flex flex-column align-items-center">
        <h1 class="content-title mb-0" id="introName">Swappy</h1>
        <h2 class="mt-0" id="introDesc">The premier book exchange platform.</p>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}