{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="indexName show-1">Swappy</h1>
    <h2 class="indexDesc show-2">The premier book exchange platform, tailored for CKY students.</h2>
    <div class="show-2">
        <a href="" class="underline mr-8">About us</a>
        {% if not current_user.is_authenticated %}
        <a href="/signup" class="underline ml-8">Sign up</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}