{% extends "base.html" %}

{% block content %}
<div class="container-fluid h-full w-full d-flex justify-content-center align-items-center">
    <div class="w-400 mw-full">
        <div class="card p-0 translucent">
            <div class="content">
                <h2 class="card-title text-center font-size-24 m-0 pb-10">
                    Log in
                </h2>
                <p>
                    To start selling or buying books, please log in with your CKY account.
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    setTimeout(function() {
        halfmoon.initStickyAlert({
            content: "{{ message }}",
            alertType: "alert-{{ category }}"
        })
    }, 200)
    {% endfor %}
    {% endif %}
    {% endwith %}
</script>
<style>
    .form-group, .custom-checkbox {
        margin-bottom: 6px;
    }
    .content {
        margin: 18px;
    }
    .translucent {
        background-color: rgba(255, 255, 255, 0.5);
    }
</style>
{% endblock %}