{% extends "base.html" %}

{% block content %}
<div class="container-fluid h-full w-full d-flex justify-content-center align-items-center">
    <div class="w-400 mw-full">
        <div class="card p-0 translucent">
            <div class="content">
                <h2 class="card-title text-center font-size-48 m-0 pb-10">
                    Log in
                </h2>
                <form action="/login" method="POST" class="w-400 mw-full">
                    <div class="form-group">
                        <input class="form-control translucent" type="email" name="email" placeholder="School Email" required="required">
                    </div>
                    <div class="form-group">
                        <input class="form-control translucent" type="password" name="password" placeholder="Password" required="required">
                    </div>
                    <div class="custom-checkbox">
                        <input type="checkbox" id="remember" name="remember" value="">
                        <label for="remember">Remember Me</label>
                    </div>
                    <input class="btn btn-primary w-full" type="submit" value="Log in">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    setTimeout(function() {
        halfmoon.initStickyAlert({
            content: "{{ message }}",
            alertType: "alert-{{ category }}"
        })
    }, 200)
    {% endfor %}
    {% endif %}
    {% endwith %}
</script>
<style>
    .form-group, .custom-checkbox {
        margin-bottom: 6px;
    }
    .content {
        margin: 18px;
    }
    .translucent {
        background-color: rgba(255, 255, 255, 0.5);
    }
</style>
{% endblock %}