{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s12">
            <div class="font-size-32 text-bold mb-8">Market</div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12">
            <div>
                <div class="input-field mb-2 mt-0">
                    <input type="text" placeholder="Book ISBN, Title, Author, Publisher" data-field="google_book_input">
                </div>
            </div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12">
            <div data-section="market_container">
                <div class="center-align" data-element="help"></div>
                <div class="progress mb-8 hide" data-element="progress">
                    <div class="indeterminate"></div>
                </div>
                <div data-element="market_results"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/market.js') }}"></script>
{% endblock %}