{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <meta name="bookid" content="{{ bookid }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market_detail.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s12">
            <div class="font-size-32 text-bold mb-8">Offer Details</div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12">
            <div>
                <div data-element="book-information"></div>
                <div class="center-align" data-element="help"></div>
                <div class="progress mb-8 hide" data-element="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12">
            <div data-element="offer_results"></div>
        </div>
    </div>
    <div id="imagemodal" class="modal roundBox">
        <div class="modal-content">
            <div class="text-lightmuted center">
                Click outside or press Esc to close.
            </div>
            <div class="carousel carousel-slider" id="carousel"></div>
        </div>
    </div>
    <div id="createmodal" class="modal modal-white roundBox">
        <div class="modal-content">
            <div class="row mx-16 mt-16 mb-16">
                <div class="s12 font-size-24 text-bold">
                    Are you sure?
                </div>
            </div>
            <div class="row mx-16 mt-0 mb-0">
                <div class="s12 font-size-16">
                    <div>Creating an offer will notify the seller that you intend to purchase the book.</div>
                    <div>Do you want to continue?</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn px-8 roundBox btn-transparent btn-transparent-success" data-button="create_offer_confirm">
                <i class="material-icons left">check</i>
                Yes, create offer
            </a>
            <a class="btn px-8 mr-8 roundBox btn-transparent btn-transparent-muted modal-close">
                <i class="material-icons left">clear</i>
                No, go back
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/market_detail.js') }}"></script>
{% endblock %}