{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s12">
            <div class="font-size-32 text-bold mb-8">Market</div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12">
            <div>
                <div class="input-field mb-2 mt-0">
                    <input id="filter" type="text" data-field="google_book_input">
                    <label for="filter">Filter books by its ISBN, title, author or publisher</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12">
            <div>
                <div class="center-align" data-element="help"></div>
                <div class="progress mb-8 hide" data-element="progress">
                    <div class="indeterminate"></div>
                </div>
                <div data-element="market_results"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% assets "js_market" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}