{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid h-full w-full">
    <div class="content d-flex flex-column align-items-center">
        <h1 class="content-title mb-0" id="introName">Welcome, {{ name }}!</h1>
        <h2 class="mt-0" id="introDesc">You have <span id="balance">{{ balance }}</span> credit(s) left.</h2>
        <p class="debugArea">For debugging purposes only:</p>
        <button class="btn btn-primary debugArea" type="button" id="addCredits">Add 10 credits</button>
        <button class="btn btn-secondary debugArea" type="button" id="resetCredits">Reset all credits</button>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}