{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/dropzone@5.9.2/dist/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.9.2/dist/basic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sell.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s2 right-align text-bold">Book</div>
        <div class="col s10" data-section="payment_information_editor">
            <div>
                <div class="input-field mb-2">
                    <input type="text" placeholder="Book ISBN, Title, Author, Publisher" data-field="google_book_input">
                </div>
                <div data-section="google_book_container">
                    <div class="center-align" data-element="help"></div>
                    <div class="progress mb-8 hide" data-element="progress">
                        <div class="indeterminate"></div>
                    </div>
                    <div class="" data-element="google_book_results"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s2 right-align text-bold">Images</div>
        <div class="col s10 valign-wrapper">
            <form class="dz dropzone needsclick w-full center-align unselectable" id="bookDropzone">
                <div class="dz-message needsclick my-16">
                    <div class="font-size-16">Drag and drop 1-5 images of your book here, or click to upload.</div>
                    <div class="font-size-14 text-muted">Maximum size: 8MB</div>
                </div>
            </form>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s2 right-align text-bold">Price</div>
        <div class="col s9">
            <div class="switch">
                <div class="input-field mb-0">
                    <input id="price_input" data-field="price" pattern="^\d+$" type="text" class="validate">
                    <label for="price_input">Price (excluding delivery fees)</label>
                    <span class="helper-text" data-error="Invalid Format: price must be a positive integer."></span>
                </div>
            </div>
        </div>
        <div class="col s1">HKD</div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s2 right-align text-bold">
            Condition
        </div>
        <div class="col s10">
            <div>
                <label>
                    <input class="with-gap" name="condition" type="radio" value="0">
                    <span class="radio-label">Poor - significant wear, possibly with a broken spine, loose joints or missing pages.</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="with-gap" name="condition" type="radio" value="1">
                    <span class="radio-label">Fair - some wear, possibly with folded pages, scratches or dents.</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="with-gap" name="condition" type="radio" value="2">
                    <span class="radio-label">Good - minor wear, but will still show signs of previous ownership.</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="with-gap" name="condition" type="radio" value="3">
                    <span class="radio-label">Fine - very minor defects and faults, like brand new.</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s2 right-align text-bold">
            Internal Markings
        </div>
        <div class="col s10">
            <div>
                <label>
                    <input class="with-gap" name="notes" type="radio" value="0">
                    <span class="radio-label">None</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="with-gap" name="notes" type="radio" value="1">
                    <span class="radio-label">Some</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="with-gap" name="notes" type="radio" value="2">
                    <span class="radio-label">Comprehensive</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s2 right-align text-bold">
            Remarks
        </div>
        <div class="col s10">
            <div class="input-field mb-0">
                <textarea id="customContactInfo_input" data-field="customContactInfo_text" class="materialize-textarea" maxlength="200" data-length="200"></textarea>
                <label for="customContactInfo_input">Tell us more about the book's condition, or any other remarks. (maximum 200 characters)</label>
            </div>
        </div>
    </div>
    <div class="row center-align">
        <div class="font-size-14 text-italic text-muted mb-2">Once uploaded, details cannot be changed.</div>
        <a class="waves-effect waves-light btn" id="sellButton">
            <i class="material-icons left">cloud_upload</i>
            Sell
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/sell.js') }}"></script>
{% endblock %}