{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/dropzone@5.9.2/dist/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.9.2/dist/basic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sell.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s3 right-align text-bold">
            Book Details
        </div>
        <div class="col s8" data-section="payment_information_editor">
            <div>
                <div class="input-field">
                    <input type="text" placeholder="Search by book ISBN, Book Name..." data-field="google_book_input">
                </div>
                <div data-section="google_book_container">
                    <div class="progress hide" data-element="progress">
                        <div class="indeterminate"></div>
                    </div>
                    <div class="center-align" data-element="initial_help">
                        <div>Start by typing in the ISBN or book name in the search bar above.</div>
                        <div>Or, <a data-field="manual-book-input">manually input the details</a>.</div> 
                    </div>
                    <div class="center-align hide" data-element="noResults_help">
                        <div>No results found.</div>
                        <div>Please check your inputs, or <a data-field="manual-book-input">manually input the details</a>.</div> 
                    </div>
                    <div class="" data-element="google_book_results">
                        <div class="row valign-wrapper mx-0 p-8 roundBox selected-book" data-googleid="x">
                            <img class="google-book-image" data-field="discord_icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 valign-wrapper">
            <form class="dz dropzone needsclick w-full center-align unselectable" id="bookDropzone">
                <div class="dz-message needsclick my-16">
                    <div class="font-size-16">Drag and drop images of your book here, or click to upload!</div>
                    <div class="font-size-14 text-muted">Maximum image size: 8MB</div>
                    <div class="font-size-14 text-muted">Maximum 6 images</div>
                </div>
            </form>
        </div>
    </div>
    <div class="row center-align">
        <a class="waves-effect waves-light btn" id="sellButton">
            <i class="material-icons left">cloud_upload</i>
            Sell
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/sell.js') }}"></script>
{% endblock %}