{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s3">
            <div class="profile-picture rounded shimmerBG">
                <img class="w-full rounded" data-field="profilePic">
            </div>
        </div>
        <div class="col s9">
            <div class="row mt-0 mb-2 valign-wrapper">
                <div class="col font-size-32 shimmerBG text-bold" data-field="name">______________________</div>
                <i class="font-size-20 material-icons unselectable tooltipped" data-position="right" data-tooltip="" data-field="cky"></i>
            </div>
            <div class="row mt-0 mb-0">
                <div class="col font-size-16 shimmerBG" data-field="email">______________________</div>
            </div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s3 right-align text-bold">
            Payment Methods
        </div>
        <div class="col s8 valign-wrapper">
            <div class="shimmerBG" data-field="payment_information_loader">______________________</div>
            <img class="payment-icon mr-4 tooltipped" data-field="cash" data-position="top" data-tooltip="Cash">
            <img class="payment-icon mr-4 tooltipped" data-field="octopus" data-position="top" data-tooltip="Bank Transfer">
            <img class="payment-icon mr-4 tooltipped" data-field="payme" data-position="top" data-tooltip="PayMe">
            <img class="payment-icon mr-4 tooltipped" data-field="tapngo" data-position="top" data-tooltip="Tap & Go">
            <img class="payment-icon mr-4 tooltipped" data-field="bankTransfer" data-position="top" data-tooltip="Octopus">
            <img class="payment-icon mr-4 tooltipped" data-field="eCheque" data-position="top" data-tooltip="e-Cheque">
            <img class="payment-icon mr-4 tooltipped" data-field="alipay" data-position="top" data-tooltip="Alipay">
            <img class="payment-icon mr-4 tooltipped" data-field="wechatPay" data-position="top" data-tooltip="WeChat Pay">
        </div>
        <div class="col s1 valign-wrapper">
            <i class="font-size-20 material-icons unselectable">edit</i>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s3 right-align text-bold">
            Account type
        </div>
        <div class="col s8 valign-wrapper">
            <div class="shimmerBG" data-field="account_type_loader">______________________</div>
            <div class="chip mb-0 hide" data-field="buyer">Buyer</div>
            <div class="chip mb-0 hide" data-field="Seller">Seller</div>
        </div>
        <div class="col s1 valign-wrapper">
            <i class="font-size-20 material-icons unselectable">edit</i>
        </div>
    </div>
    <div class="row valign-wrapper" data-field="seller_information_container">
        <div class="col s3 right-align text-bold">
            Seller Delivery Methods
        </div>
        <div class="col s8 valign-wrapper">
            <div class="shimmerBG" data-field="seller_delivery_methods_loader">______________________</div>
            <div class="chip mb-0 hide" data-field="inSchoolExchange">In-school exchange</div>
            <div class="chip mb-0 hide" data-field="meetup">Meetup</div>
            <div class="chip mb-0 hide" data-field="delivery">Door-to-door delivery</div>
        </div>
        <div class="col s1 valign-wrapper">
            <i class="font-size-20 material-icons unselectable">edit</i>
        </div>
    </div>
    <div class="row valign-wrapper" data-field="seller_information_container">
        <div class="col s3 right-align text-bold">
            Negotiable
        </div>
        <div class="col s8 valign-wrapper">
            <div class="shimmerBG" data-field="seller_negotiable_loader">___</div>
            <i class="font-size-20 material-icons unselectable" data-field="negotiable"></i>
        </div>
        <div class="col s1 valign-wrapper">
            <i class="font-size-20 material-icons unselectable">edit</i>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s3 right-align text-bold align-self-start">
            Contact Information
        </div>
        <div class="col s8">
            <div class="shimmerBG" data-field="information_loader">______________________</div>
            <div class="row mb-2 p-inherit valign-wrapper hide" data-field="public_container">
                <span class="mr-6" data-field="public"></span>
                <i class="font-size-16 material-icons unselectable text-muted tooltipped" data-field="public_icon" data-position="right" data-tooltip=""></i>
            </div>
            <div class="row mb-0 p-inherit valign-wrapper hide" data-field="discord_container">
                <img class="payment-icon mr-4 tooltipped" data-field="discord_icon" data-position="left" data-tooltip="Discord">
                <span data-field="discord"></span>
            </div>
            <div class="row mb-0 p-inherit valign-wrapper hide" data-field="instagram_container">
                <img class="payment-icon mr-4 tooltipped" data-field="instagram_icon" data-position="left" data-tooltip="Instagram">
                <span data-field="instagram"></span>
            </div>
            <div class="row mb-0 p-inherit valign-wrapper hide" data-field="phone_container">
                <img class="payment-icon mr-4 tooltipped" data-field="phone_icon" data-position="left" data-tooltip="Phone">
                <span class="mr-6" data-field="phone"></span>
                <img class="payment-icon mr-4 tooltipped" data-field="whatsapp" data-position="top" data-tooltip="WhatsApp">
                <img class="payment-icon mr-4 tooltipped" data-field="signal" data-position="top" data-tooltip="Signal">
                <img class="payment-icon mr-4 tooltipped" data-field="telegram" data-position="top" data-tooltip="Telegram">
            </div>
            <div class="row mb-0 p-inherit valign-wrapper hide" data-field="customContactInfo_container">
                <img class="payment-icon mr-4 align-self-start tooltipped" data-field="customContactInfo_icon" data-position="left" data-tooltip="Custom Contact Information">
                <span data-field="customContactInfo"></span>
            </div>
        </div>
        <div class="col s1 valign-wrapper">
            <i class="font-size-20 material-icons unselectable">edit</i>
        </div>
    </div>
    
</div>
<script async defer type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}