{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <meta name="userid" content="{{ userid }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings_readonly.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s3">
            <div class="profile-picture rounded shimmerBG">
                <img class="w-full rounded" data-field="profilePic" onload="removeShimmer(this.parentElement);">
            </div>
        </div>
        <div class="col s9">
            <div class="row my-0 valign-wrapper">
                <div class="col font-size-32 shimmerBG text-bold" data-field="name">______________________</div>
                <i class="font-size-20 material-icons unselectable tooltipped" data-position="right" data-tooltip="" data-field="cky"></i>
            </div>
        </div>
    </div>
    <div class="row valign-wrapper" data-field="seller_information_container">
        <div class="col s3 right-align text-bold">
            Listings
        </div>
        <div class="col s9 valign-wrapper">
            <a class="btn px-8 roundBox btn-transparent btn-transparent-primary" href="/listings/{{ userid }}">
                <i class="material-icons left">list</i>
                View Listings
            </a>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s3 right-align text-bold">
            Payment Methods
        </div>
        <div class="col s9 valign-wrapper" data-section="payment_information_display">
            <div class="shimmerBG" data-field="payment_information_loader">______________________</div>
            <img class="payment-icon mr-4 tooltipped" data-field="cash" data-position="top" data-tooltip="Cash">
            <img class="payment-icon mr-4 tooltipped" data-field="octopus" data-position="top" data-tooltip="Octopus">
            <img class="payment-icon mr-4 tooltipped" data-field="payme" data-position="top" data-tooltip="PayMe">
            <img class="payment-icon mr-4 tooltipped" data-field="tapngo" data-position="top" data-tooltip="Tap & Go">
            <img class="payment-icon mr-4 tooltipped" data-field="bankTransfer" data-position="top" data-tooltip="Bank Transfer">
            <img class="payment-icon mr-4 tooltipped" data-field="eCheque" data-position="top" data-tooltip="e-Cheque">
            <img class="payment-icon mr-4 tooltipped" data-field="alipay" data-position="top" data-tooltip="Alipay">
            <img class="payment-icon mr-4 tooltipped" data-field="wechatPay" data-position="top" data-tooltip="WeChat Pay">
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s3 right-align text-bold">
            Delivery Methods
        </div>
        <div class="col s9 valign-wrapper" data-section="seller_delivery_methods_display">
            <div class="shimmerBG" data-field="seller_delivery_methods_loader">______________________</div>
            <div class="chip mb-0 hide" data-field="inSchoolExchange">In-school exchange</div>
            <div class="chip mb-0 hide" data-field="meetup">Meetup</div>
            <div class="chip mb-0 hide" data-field="delivery">Door-to-door delivery</div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s3 right-align text-bold">
            Account Type
        </div>
        <div class="col s9 valign-wrapper" data-section="account_type_display">
            <div class="shimmerBG" data-field="account_type_loader">______________________</div>
            <div class="chip mb-0 hide" data-field="buyer">Buyer</div>
            <div class="chip mb-0 hide" data-field="seller">Seller</div>
        </div>
    </div>
    <div class="row valign-wrapper" data-field="seller_information_container">
        <div class="col s3 right-align text-bold">
            Negotiable
        </div>
        <div class="col s9 valign-wrapper" data-section="seller_negotiable_display">
            <div class="shimmerBG" data-field="seller_negotiable_loader">___</div>
            <i class="font-size-20 material-icons unselectable" data-field="negotiable"></i>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s3 right-align text-bold align-self-start">
            Contact Information
        </div>
        <div class="col s9" data-section="contact_information_display">
            <div class="shimmerBG" data-field="contact_information_loader">______________________</div>
            <div class="row mb-2 p-inherit valign-wrapper hide" data-field="public_container">
                <span class="mr-6" data-field="public"></span>
                <i class="font-size-16 material-icons unselectable text-muted tooltipped" data-field="public_icon" data-position="right" data-tooltip=""></i>
            </div>
            <div class="row mb-2 p-inherit valign-wrapper hide" data-field="email_container">
                <span class="material-icons mr-4 tooltipped contact-info-icon unselectable" data-position="left" data-tooltip="E-mail">email</span>
                <span data-field="email"></span>
            </div>
            <div class="row mb-2 p-inherit valign-wrapper hide" data-field="discord_container">
                <img class="payment-icon mr-4 tooltipped" data-field="discord_icon" data-position="left" data-tooltip="Discord">
                <span data-field="discord"></span>
            </div>
            <div class="row mb-2 p-inherit valign-wrapper hide" data-field="instagram_container">
                <img class="payment-icon mr-4 tooltipped" data-field="instagram_icon" data-position="left" data-tooltip="Instagram">
                <span data-field="instagram"></span>
            </div>
            <div class="row mb-2 p-inherit valign-wrapper hide" data-field="phone_container">
                <span class="material-icons mr-4 tooltipped contact-info-icon unselectable" data-position="left" data-tooltip="Phone">phone</span>
                <span class="mr-6" data-field="phone"></span>
                <img class="payment-icon mr-4 tooltipped" data-field="whatsapp" data-position="top" data-tooltip="WhatsApp">
                <img class="payment-icon mr-4 tooltipped" data-field="signal" data-position="top" data-tooltip="Signal">
                <img class="payment-icon mr-4 tooltipped" data-field="telegram" data-position="top" data-tooltip="Telegram">
            </div>
            <div class="row mb-2 p-inherit valign-wrapper hide" data-field="customContactInfo_container">
                <span class="material-icons mr-4 tooltipped contact-info-icon unselectable" data-position="left" data-tooltip="Custom Contact Information">contact_mail</span>
                <span data-field="customContactInfo"></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/settings_readonly.js') }}"></script>
{% endblock %}