{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid h-full w-full">
    <div class="content d-flex flex-column align-items-center">
        <img class="rounded-circle w-150" src="https://lh3.googleusercontent.com/a-/AOh14GipBBZkQ2DF3a4jfOgDqNGQ_RJMAQHNtPd0LheA8w=s512-c" alt="Profile Picture">
        <h1 class="content-title mb-0">NAME</h1>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}