{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s3">
            <div class="profile-picture rounded shimmerBG">
                <img class="w-full rounded" data-field="profilePic">
            </div>
        </div>
        <div class="col s9">
            <div class="row mt-0 mb-2 valign-wrapper">
                <div class="col font-size-32 shimmerBG text-bold" data-field="name">______________________</div>
                <i class="font-size-20 material-icons unselectable tooltipped" data-position="right" data-tooltip="" data-field="cky"></i>
            </div>
            <div class="row mt-0 mb-0">
                <div class="col font-size-16 shimmerBG" data-field="email">______________________</div>
            </div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s3 right-align text-bold">
            Payment Methods
        </div>
        <div class="col s8 valign-wrapper">
            <div class="row mb-0 font-size-0">
                <img class="h-24 mr-4 ml-12" src="{{ url_for('static', filename='img/payment/cash.png') }}">
                <img class="h-24 mr-4" src="{{ url_for('static', filename='img/payment/bank.png') }}">
                <img class="h-24 mr-4" src="{{ url_for('static', filename='img/payment/payme.png') }}">
                <img class="h-24 mr-4" src="{{ url_for('static', filename='img/payment/tapngo.png') }}">
                <img class="h-24 mr-4" src="{{ url_for('static', filename='img/payment/octopus.png') }}">
                <img class="h-24 mr-4" src="{{ url_for('static', filename='img/payment/echeque.png') }}">
                <img class="h-24 mr-4" src="{{ url_for('static', filename='img/payment/alipay.png') }}">
                <img class="h-24 mr-4" src="{{ url_for('static', filename='img/payment/wechat.png') }}">
            </div>
        </div>
        <div class="col s1">
            <i class="font-size-20 material-icons unselectable">edit</i>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s3 right-align text-bold">
            Account type
        </div>
        <div class="col s8">
            <div class="chip mb-0">Buyer</div>
            <div class="chip mb-0">Seller</div>
        </div>
        <div class="col s1">
            <i class="font-size-20 material-icons unselectable">edit</i>
        </div>
    </div>
</div>
<script async defer type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}