{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box translucent is-shadowless">
        <h3 class="title has-text-centered">Sign Up</h3>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="notification has-text-{{ category }}-dark translucent">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control has-icons-right">
                    <input id="stdid" class="input translucent" type="text" name="stdid" placeholder="Student ID" maxlength="10">
                    <span class="icon is-small is-right">
                        <i class="fas fa-user-tag"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <div class="control has-icons-right">
                    <input id="name" class="input translucent" type="text" name="name" placeholder="Name">
                    <span class="icon is-small is-right">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <div class="control has-icons-right">
                    <input id="pwdInput" class="input translucent" type="password" name="password" placeholder="Password">
                    <span class="icon is-small is-right">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>

            <button class="button is-block is-info is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}