/* Background */

body {
	background: rgb(238,228,181);
	background: linear-gradient(90deg, rgba(238,228,181,1) 0%, rgba(183,249,191,1) 50%, rgba(176,223,237,1) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	font-family: 'Inter', 'Segoe UI', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.nav-material {
	background: transparent;
	border: 0;
	box-shadow: none;
	color: black;
}

.logo-banner {
	height: 60.3px;
}

.mx-16 {
	margin-left: 16px;
	margin-right: 16px;
}

.mr-8 {
	margin-right: 8px;
}

.ml-8 {
	margin-left: 8px;
}

.px-8 {
	padding-left: 8px;
	padding-right: 8px;
}

.nav-item {
	color: black;
}

.no-hover-color-change:hover {
	background-color: transparent;
}

#profileDropdown {
	border-radius: 4px;
}

#profileDropdown a {
	padding: 8px 8px 8px 16px;
	text-align: right;
	color: black;
	font-size: 14px;
}

#profileDropdown li {
	min-height: 0;
}