/* Background */

body {
	background: rgb(238,228,181);
	background: linear-gradient(90deg, rgba(238,228,181,1) 0%, rgba(183,249,191,1) 50%, rgba(176,223,237,1) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	font-family: 'Inter', 'Segoe UI', sans-serif !important;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.nav-material {
	background: transparent;
	border: 0;
	box-shadow: none;
	color: black;
}

.logo-banner {
	height: 3.77rem;
}

.nav-item {
	color: black;
	height: 3.8rem;
	line-height: 3.8rem;
}

/* MARGINS */

.mx-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.mx-16 {
	margin-left: 1rem;
	margin-right: 1rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.my-16 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.mt-16 {
	margin-top: 1rem;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-2 {
	margin-bottom: .125rem;
}

.mb-8 {
	margin-bottom: .5rem;
}

.mb-29 {
	margin-bottom: 29px;
}

.mr-4 {
	margin-right: .25rem;
}

.mr-6 {
	margin-right: .375rem;
}

.mr-8 {
	margin-right: .5rem;
}

.ml-8 {
	margin-left: .5rem;
}

.ml-12 {
	margin-left: .75rem;
}

.ml-29 {
	margin-left: 2rem;
}

/* PADDINGS */

.px-8 {
	padding-left: .5rem;
	padding-right: .5rem;
}

.p-8 {
	padding: .5rem;
}

.p-inherit {
	padding: inherit;
}

/* SIZINGS */

.h-24 {
	height: 1.5rem;
}

.h-36 {
	height: 2.25rem;
}

.h-72 {
	height: 4.5rem;
}

.w-full {
	width: 100%;
}

/* FONT AND TEXT */

.text-bold {
	font-weight: 600 !important;
}

.text-muted {
	color: grey;
}

.font-size-32 {
	font-size: 2rem;
}

.font-size-20 {
	font-size: 1.25rem;
}

.font-size-16 {
	font-size: 1rem;
}

.font-size-14 {
	font-size: .875rem;
}

.font-size-0 {
	font-size: 0;
}

.no-hover-event:hover {
	background-color: unset !important;
}

.roundBox {
	border-radius: .5rem !important;
}

.translucent {
	background-color: rgba(255, 255, 255, 0.5);
}

.rounded {
	border-radius: 50%;
}

.align-self-start {
	align-self: flex-start;
}

#profileDropdown a {
	padding: .5rem .5rem .5rem 1rem;
	text-align: right;
	color: black;
	font-size: .875rem;
}

#profileDropdown li {
	min-height: 0;
}

* {
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

#toast-container {
	top: 1rem;
	right: 1rem;
	max-width: 20%;
}

.toastGeneral {
	color: black;
}

.toastError {
	background-color: #d8a6ab;
}

.toastWarning {
	background-color: #ffecb3;
}

.toastSuccess {
	background-color: #a1dfaf;
}

.toastInformation {
	background-color: #bbdcff;
}

/* SHIMMER */

.shimmerBG {
    -webkit-animation-duration: 2.2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: shimmer;
    -webkit-animation-timing-function: linear;

    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: rgba(221, 221, 221, 0.5);
    background: linear-gradient(to right, #f6f6f67f 8%, #dfdfdf7f 18%, #F6F6F67f 33%);
    background-size: 1200px 100%;

    color: transparent;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}