/* Background */

body {
    background: rgb(244,219,114);
    background: linear-gradient(90deg, rgba(244,219,114,1) 0%, rgba(134,241,145,1) 50%, rgba(107,221,255,1) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	font-family: 'Inter', 'Segoe UI', sans-serif !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container-fluid {
	overflow: hidden;
}

/* Navbar */

.navbar {
	background: rgba(0,0,0,0);
	border: 0;
	min-height: 5rem;
}

.nav-item {
	font-size: 14px;
}