:root {
    --notification-badge-width: 62.5%;
    --collapsible-border: 1px solid #ddd;
    --payment-icon-height: 24px;
    --chip-height: 32px;
}

.profile-picture {
    display: inline-block;
    margin-left: calc((100% - var(--profile-pic-width))/2);
    width: var(--profile-pic-width);
    height: 0;
    padding-bottom: var(--profile-pic-width);
}

.payment-icon {
    height: var(--payment-icon-height);
}

.book {
    border: 1px solid rgba(0, 158, 206, 25%);
    background-color: rgba(0, 158, 206, 5%);
}

li:not(.active) .collapsible-header {
    border-radius: .5rem;
    border: var(--collapsible-border);
}

li:not(.active) .collapsible-header:hover {
    background-color: #edf4fa !important;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

li.active .collapsible-body > div {
    border: var(--collapsible-border);
}

li.active .collapsible-body > div:last-child {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

li.active .collapsible-header {
    background-color: #e0f1fd !important;
    border: var(--collapsible-border);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

}

[data-offerid]:hover {
    background-color: #ebf5ec !important;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

[data-offerid].active {
    background-color: #e2f5e4 !important;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.google-book-image {
    width: 100%;
}

.profile-picture {
    width: 75%;
}

.minPicHeight {
    height: 172px;
}

.lightlightgrey {
    background-color: #ffffff88;
    border: 1px solid #ddd;
}

.lightgrey {
    background-color: #ffffffee;
    border: 1px solid #ddd;
}

.p-12 {
    padding: .75rem !important;
}

.pr-6 {
    padding-right: .375rem !important;
}

.pl-6 {
    padding-left: .375rem !important;
}

.oy-auto {
    overflow-y: auto;
}

i.material-icons.unread {
    color: #b00;
}

.carousel .carousel-item > img {
    height: 100% !important;
    width: unset;
}

.modal, .modal-content, .carousel {
    background-color: black;
}

.modal-content {
    padding: 0 !important; 
}

.payment-icon {
    height: var(--payment-icon-height);
}

.chip {
    border: 1px solid #bbb;
    height: var(--chip-height);
}

/*     --payment-icon-height: 24px;
    --chip-height: 32px; */