:root {
    --notification-badge-width: 62.5%;
    --collapsible-border: 1px solid #ddd;
    --payment-icon-height: 24px;
    --chip-height: 32px;
    --profile-pic-width: 75%;
}

.row .col.s2 div.profile-picture {
    position: relative;
    width: 75%;
}
.row .col.s2 div.profile-picture:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.row .col.s2 div.profile-picture img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.payment-icon {
    height: var(--payment-icon-height);
}

.book {
    border: 1px solid rgba(0, 158, 206, 25%);
    background-color: rgba(0, 158, 206, 5%);
}

li:not(.active) .collapsible-header {
    border-radius: .5rem;
    border: var(--collapsible-border);
}

li:not(.active) .collapsible-header:hover {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

li.active .collapsible-body > div {
    border: var(--collapsible-border);
}

li.active .collapsible-body > div:last-child {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

li.active .collapsible-header {
    border: var(--collapsible-border);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

div[data-offerid]:hover {
    background-color: #ebf5fc !important;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

div[data-offerid].active {
    background-color: #e0f1fd !important;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.google-book-image {
    width: 100%;
}

.minPicHeight {
    height: 128px;
}

.lightlightgrey {
    background-color: #fffffe88;
    border: 1px solid #ddd;
}

.lightgrey {
    background-color: #fffffeee;
    border: 1px solid #ddd;
}

.p-12 {
    padding: .75rem !important;
}

.pr-6 {
    padding-right: .375rem !important;
}

.pl-6 {
    padding-left: .375rem !important;
}

.oy-auto {
    overflow-y: auto;
}

i.material-icons.unread {
    color: #b00;
}

.carousel .carousel-item > img {
    height: 100% !important;
    width: unset;
}

.modal, .modal-content, .carousel {
    background-color: black;
}

.modal.modal-white, .modal.modal-white > .modal-content {
    background-color: white;
}

.modal-content {
    padding: 0 !important; 
}

.payment-icon {
    height: var(--payment-icon-height);
}

.chip {
    border: 1px solid #bbb;
    height: var(--chip-height);
}