.indexName {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.indexDesc {
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 5s ease;
    margin-top: 1.25rem;
}

.show-1 {
    opacity: 0;
    transition: opacity 2s ease;
}

.show-2 {
    opacity: 0;
    transition: opacity 3s ease;
}

.underline{
    position: relative;
    font-size: 1rem;
    color: #005daf;
}

.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0.094rem;
    background-color: #005daf;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}