#introName {
    font-size: 56px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 2s ease;
}

#introDesc {
    font-size: 28px;
    opacity: 0;
    transition: opacity 3s ease;
}

.debugArea {
    opacity: 0;
    transition: opacity 3s ease;
}

button {
    margin: 3px;
    width: 125px;
}