.checkbox-label {
    color: black;
    padding-left: 2rem !important;
}

.checkbox-label::after {
    top: 50% !important;
    margin-top: -10.5px !important;
}

.checkbox-label::before {
    top: 50% !important;
    margin-top: -8px !important;
}

.dz {
    background-color: #ffffff44;
    border-radius: .5rem;
    border: 1px solid #ccc;
}

.dz-image {
    overflow: hidden;
}

.dz-error-message {
    color: #ae423f !important;
}

.dz-progress {
    height: .5rem !important;
    border-radius: .25rem !important;
}

.dz-upload {
    background: #87df85;
}

.input-field > input::placeholder {
    color: black;
}

[data-section="google_book_container"] {
    max-height: 320px;
    overflow: auto;
}

.book {
    border: 1px solid rgba(0, 158, 206, 15%);
}

.book:hover:not(.book-selected) {
    background-color: rgba(0, 158, 206, 7.5%);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    /* border: 1px solid black; */
}

.book-selected {
    border: 1px solid rgba(0, 158, 206, 50%);
    background-color: rgba(0, 158, 206, 15%);
    -webkit-transition: background-color 100ms ease-out;
    -ms-transition: background-color 100ms ease-out;
    transition: background-color 100ms ease-out;
}

.google-book-image {
    width: 100%;
}

.minPicHeight {
    height: 172px;
}

.radio-label {
    color: black;
    padding-left: 2rem !important;
}

.radio-label::after {
    top: 50% !important;
    margin-top: -10.5px !important;
}

.radio-label::before {
    top: 50% !important;
    margin-top: -8px !important;
}