:root {
    --profile-pic-width: 75%;
    --payment-icon-height: 24px;
    --chip-height: 32px;
}

.shimmerBG {
    -webkit-animation-duration: 2.2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: shimmer;
    -webkit-animation-timing-function: linear;

    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: rgba(221, 221, 221, 0.5);
    background: linear-gradient(to right, #f6f6f67f 8%, #dfdfdf7f 18%, #F6F6F67f 33%);
    background-size: 1200px 100%;

    color: transparent;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}

.profile-picture {
    display: inline-block;
    margin-left: calc((100% - var(--profile-pic-width))/2);
    width: var(--profile-pic-width);
    height: 0;
    padding-bottom: var(--profile-pic-width);
}

.payment-icon {
    height: var(--payment-icon-height);
}

.payment-header {
    min-height: var(--payment-icon-height) !important;
}

.chip {
    border: 1px solid #bbb;
    height: var(--chip-height);
}

.chip-header {
    min-height: var(--chip-height) !important;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

.verified {
    color: #007bff;
}

.not-verified {
    color: #dc3545;
}

.negotiable {
    color: #4a934a;
}

.not-negotiable {
    color: #ae423f;
}

.edit-button:hover {
    background-color: #82abed44;
    border-radius: 50%;
}

.checkbox-label {
    color: black;
    padding-left: 2rem !important;
}

.checkbox-label::after {
    top: 50% !important;
    margin-top: -10.5px !important;
}

.checkbox-label::before {
    top: 50% !important;
    margin-top: -8px !important;
}